body {
  background: #E5E5E5;
}
.black {
  color: #000000  !important;
}
.orange {

color: #F9855B;
}
.hand {
  position: absolute;
  width: 36px;
  height: 54px;
  left: 7%;
  top: 188px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
}
.s-1 {
position: absolute;
width: 35%;
height: 800px;
left: 65%;
top: 15%;

background: url(../images/backgroundshapesdesktop.png);
}
.cg {
margin-left: 5%;
}
.pa-1 {


font-weight: 800;
font-size: 50px;
line-height: 105.3%;


color: #000000;

}
.pa-2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  
  color: #727274;

}
.pa-3 {
font-weight: 600;
font-size: 18px;
line-height: 27px;

color: #727274;
}
.intro {
font-size: 16px;
line-height: 24px;
}
.s-2 {
  height: 400px;
  margin-left: 5%;
}
.bckgrd {
  background: #F9855B;
}
.common {

  font-family: Poppins;
  font-style: normal;
}

/* 
.im-1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(image.png);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding-left: 18%;
  padding-top: 50px;
  padding-bottom: 20px;
} */
/* linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
url('/assets/images/onlineshopindex2.png'); */
 .project-detail{
   margin-left: 12%;
   margin-top: 2%;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
 }
 .pa-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
  color: #727274
 }
.im-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(image.png);
    padding-left: 18%;
    padding-top: 50px;
    padding-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.s-4 {
  margin-top: 100px;
  margin-left: 12%;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.h4 {
  font-weight: 800;
font-size: 36px;
line-height: 105.3%;
/* identical to box height, or 38px */


color: #000000;
}
.pa-4 {
  font-weight: normal;
font-size: 16px;
line-height: 24px;

color: #727274;
}
.h4-1 {
  font-weight: 600;
font-size: 20px;
line-height: 105.3%;
}
.pa-5 {
  font-weight: normal;
font-size: 16px;
line-height: 24px;

color: #727274; 
box-sizing: border-box;
width: 485px;
}
.get-in-t {
  width: 60%;
  margin-left: 19%;
  background-color: #000000;
}
.interested {
  font-weight: 800;
font-size: 38px;
line-height: 105.3%;
color: #FFFFFF;
padding-top: 20px;
}
.pa-f {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 300px;
  color: #FFFFFF;
}
.html-ror {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  
  color: #FFFFFF;
position: absolute;
width: 81px;
height: 21px;
left: 30%;
top: 490px;
background: #423B39;
}
.ror {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  
  color: #FFFFFF;
  position: absolute;
  width: 81px;
  height: 21px;
  left: 44%;
  top: 490px;
  background: #423B39;
}
.html-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  
  color: #FFFFFF;
  position: absolute;
  width: 81px;
  height: 21px;
  left: 13%;
  top: 490px;
  background: #423B39
}
.d-grid-3 {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6%;
  /* gap: 30px; */
  margin-left: 5%;
}
.see-1 {
  position: absolute;
  left: 3%;
  top: 550px;
  transform: rotate(-90deg);

}

.contain-circle {
  height: 450px;
  width: 450px;
  margin-left: 5%;
}
.im-1 {
  margin-left: 12%;
  margin-top: 22.5%;
  width: 75%;
}
.circle {
   height: 100%;
  background-color:  #dad6d6;;
  border-radius: 50%;
}
.carousel-control-next {
  color: black;
}
.see-2 {
  position: absolute;
  left: 27%;
  top: 550px;
  transform: rotate(-90deg);
}
.see-3 {
  position: absolute;
  left: 24%;
  top: 780px;
}
.tic-tac-toe {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(image.png);
  padding-left: 18%;
  padding-top: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.stay-in-touch {
  padding-left: 18%;
  padding-top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.scraper {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(image.png);
  padding-left: 18%;
  padding-top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.html-ror-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  
  color: #FFFFFF;
position: absolute;
width: 81px;
height: 21px;
left: 25%;
top: 700px;
background: #423B39;
}
.ror-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  
  text-align: center;
  
  color: #FFFFFF;
  position: absolute;
  width: 81px;
  height: 21px;
  left: 18.7%;
  top: 740px;
  background: #423B39;
  transform: rotate(-90deg);
}
.nav-r {
  width: 30%;
}
.my-work-links-icons {
  width: 100px;
}
.wf-g {
  width: 75%;
}
.e-mail {
  margin-right: 1%;
}
.s-3 {
  width: 100%;
}
@media (max-width: 567px)
{ 
  /* nav {
    width: 80%;
  } */
  .nav-r {
  width: 50%;
}
.s-1 {
  display: none;
}
.fc-3 {
  width: 80%;
}

.s-2 {
  margin-top: 100px;
}
.my-work-links {
  flex-direction: column;
}
.pa-6 {
  width: 300%;
}
.my-work-links-icons {
  width: 200%;
}

.s-4 {
  flex-direction: column;
  width: 50%;
  margin-left: 7%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.h4-1,.pa-5 {
  padding-left: 32%;
}
.fg-email-name {
  flex-direction: column;
}
.wf-g {
    margin-left: 5%; 
    width: 84%;
}
.fc-3 {
margin-left: 5%;
   
}
.s-6{

 padding-top: 10px;
}
.d-sm {
  display: none;
}
.pa-f {
  width: 500% ;d-flex  justify-content-center align-content-center align-items-center
  padding-bottom: 50px;
}
.stay-in-touch {
  padding-top: 70px;
  padding-bottom: 70px;
}
.scraper {
  padding-top: 70px;
  padding-bottom: 70px;
}
.tic-tac-toe {
  padding-top: 40px;
  padding-bottom: 40px;
}
.interested {
font-size: 25px;
/* width: 400px; */
}
footer {
 flex-direction: column;
}
.form-w {
  width: 90%;
}
 .fg-3 {
  width: 105%;
} 
.s-3 {

}
.contain-circle {
  height: 100%;
  width: 100%;
  margin-left: 0%;
}
.im-1 {
  margin-top: 12.5%;
}
.s-7 {
 justify-content: center;
 align-items: center;
 align-content: center;
}
}